@media (max-width: 768px) {

    .header-container {
        height: 90vh;
    }
        .header-main-title {
            font-size: 16px;
            top: 1%;
        }
        .background-header {
            height: 30%;
        }
        .header-li {
            font-size: 14px;
        }
        .header-secondary-titles-container {
            top: 90%;
            left: 12%;
            transform: translate(-50%, -50%);
        }

        .intervention-title {
 
            height: 5rem;
            text-align: center;
            text-transform: uppercase;
            padding-top: 40px;
        }

        .intervention-card-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .intervention-card-img {
            width: 40vw;
            height: 40vh;
            margin-top: 10rem;
        }

        .card-block {
            width: 50%;
        }
    }
