* {
    margin: 0;
    padding: 0;
}

.carrousel-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.carrousel-container p {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

.large-container {
    margin-right: 130px !important;
}

.slider-title {
    margin-top: 40px;
    font-size: 3rem;
    color: var(--secondary-color);
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}